@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
/* .woff + @font-face -> własny font */

/* najbardziej podstawowy reset.css */
/* * {
  margin: 0;
  padding: 0;
} */

/* 1 sposób - nazwa znacznika/tagu HTML */

body {
  background-color: rgba(255, 235, 205, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 10px; /* wartosc 1rem to 10px */
}

aside {
}

main {
  width: 100%;
  margin-bottom: 4rem; /* font-size el. html wynosi 10px czyli 4 * 10px = 40px */
}

footer {
}

nav {
}

/* 2 sposób - identyfikacja przez nazwe klasy */
.bold {
  font-weight: 700; /* font-weight: bold; */
}

/* 3 sposób - identyfikacja przez ID */
header {
  width: 100%;
  position: sticky;
  top: 0; /* wymagane do position: sticky, bez tego el. nie zatrzyma sie w miejscu */
  z-index: 1;
}

#nav ul {
  display: flex;
  background: bisque;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

/* #nav ul:hover {
  background-color: aqua;
} */

#nav ul li {
  cursor: pointer;
  margin: 0px 3px;
  border-radius: 3px;
}

#nav ul li a {
  background-color: aliceblue;
  color: crimson;
  font-weight: 500;
  font-size: 18px;
  padding: 14px 10px;
  transition: 0.3s all;
  text-decoration: none;
}

#nav ul li:hover a {
  background-color: crimson;
  color: aliceblue;
}

/* klasa w CSS => .klasa => moze wystepowac x razy na stronie */
/* id w CSS => #id => może występować 1x na stronie */

nav#nav.desktop {
}

/* p {
  color: red;
}

p {
  color: green;
}

p {
  color: black;
}
 */

main h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 3px;
  color: steelblue;
  text-align: center;
  width: 50vw; /* 50% szerokosci viewport (ekran na ktorym wyswietlana jest strona) */
  height: 5vh; /* 5% wysokosci viewport */
  width: 100%;
}

/* znacznik p z atrybutem id o wartosci mainParagraph */
p#mainParagraph {
  color: darkgreen;
}

.paragraph {
  color: rosybrown;
  font-weight: 700;
}

p {
  color: teal;
  font-weight: 400;
}

/*
    HTML            |       CSS
    --------------------------------------
    class="bold"    |       .bold
    id="navigation" |       #navigation
*/

label {
  display: flex;
  margin: 10px;
  width: 400px;
  padding: 20px 10px; /* gora - prawo - dol - lewo */
  /* shorthands dla np. padding, margin */
  /* margin: 10px - z kazdej strony element bedzie odsuniety o 10px (margin: 10px 10px 10px 10px) */
  /* margin: 20px 10px -> 20px 10px 20px 10px */
  /* margin: 20px 10px 15px -> 20px 10px 15px 10px */

  /* calkowita szerokosc = width + padding + border */
  box-sizing: content-box;

  /* calkowita szerokosc = width */
  box-sizing: border-box;
  /* w przypadku border-box przegladarka oblicza dynamicznie max. szerokosc warstwy content, a nie calego elementu (content = width - padding - border) */
  position: relative;
}

.required {
  color: red;
  font-weight: 700;
}

.validationMessage {
  color: red;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 10px;
}

span.label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-weight: 700;
  min-width: 100px;
  font-size: 16px;
}

/* h1::first-letter {
  color: red;
} */

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

label input,
label textarea {
  margin-left: 20px;
  outline: none;
  border: 1px solid darkorange;
  border-radius: 4px;
  padding: 10px 5px;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  transition: 0.2s all;
}

label input:focus,
label textarea:focus {
  border: 1px solid teal;
}

label input::placeholder,
label textarea::placeholder {
  color: brown;
  font-size: 16px;
  font-weight: 700;
}

input[type="submit"] {
  background-color: antiquewhite;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 2px solid darkorange;
  color: darkorange;
  font-weight: 700;
  align-self: center;
  transition: 0.3s all;
}

input[type="submit"]:focus {
  border: 2px solid teal;
  color: teal;
}

input[type="submit"]:active {
  transform: scale(0.9);
}

input.error {
  border: 1px solid red;
}

/* 
    Zadanko - stylowanie strony
    1. Dodajemy background color
    2. Stylujemy H1 i pozostałe elementy tekstowe jak np. p
    3. Stylujemy nawigację (ul li a)
    4. Usuwamy ramki z label
    5. Stosujemy display: flex z wlasciwym flex-direction w formularzu
    6. Stosujemy font-weight i font-style na naszych labelkach
    7. Wyrownanie inputow w pionie (span.label{})
    8. Footer - centrowanie, przyklejenie (*) do dolnej cz. ekranu
*/

h1::after {
  content: ".";
  font-family: "Courier New", Courier, monospace;
  color: fuchsia;
  font-weight: 700;
}

footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  height: 100px;
  background-color: antiquewhite;
  border-top: 1px solid silver;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed {
  position: fixed;
  width: 250px;
  height: 250px;
  /* background-color: red; */
  background: url("https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Trollface_non-free.png/220px-Trollface_non-free.png")
    no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: none;
}

/* breakpoint */
@media screen and (min-width: 320px) {
  body {
    background-color: seashell;
  }
}

@media screen and (min-width: 1100px) {
  body {
    background-color: ghostwhite;
  }
}
