<form action="#" method="post">
  <!--
      GET - wysyla dane w sposob jawny (widoczne w pasku adresu) jako Query String Params
      POST - wysyla dane "pod spodem" (niewidoczne w pasku adresu) jako Form Data
      PUT, DELETE, UPDATE - inne metody HTTP
    -->
  <br />
  <label for="firstName">
    Imię:
    <input
      type="text"
      name="firstName"
      id="firstName"
      placeholder="np. Jakub"
      required
      pattern="[a-zA-Z]{3,20}"
      value="Jakub"
    />
  </label>
  <!-- dodajemy input type password w tagu label -->

  <label for="password">
    Hasło:
    <input
      type="password"
      name="password"
      id="password"
      required
      value="12345"
    />
  </label>

  <label for="email">
    Email:
    <input
      type="email"
      name="userEmail"
      id="email"
      required
      value="j@test.pl"
    />
  </label>

  <label for="kino">
    Kino:
    <input type="checkbox" name="interests[]" id="kino" value="kino" />
  </label>

  <label for="muzyka">
    Muzyka:
    <input type="checkbox" name="interests[]" id="muzyka" value="muzyka" />
  </label>

  <label for="podroze">
    Podróże:
    <input type="checkbox" name="interests[]" id="podroze" value="podroze" />
  </label>

  <label for="kawa">
    Kawa
    <input type="radio" name="drink" id="kawa" value="kawa" checked required />
  </label>

  <label for="herbata">
    Herbata
    <input type="radio" name="drink" id="herbata" value="herbata" />
  </label>

  <select name="" id="">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>

  <textarea name="" id="" cols="10" rows="10"></textarea>

  <!-- 
      Formularz kontaktowy:
        - Imie - type text
        - Nazwisko* - type text
        - Email* - type: email
        - Treść (textarea)* - min.length 120 znakow
    -->

  <input type="submit" value="Wyślij" />
</form>
